<div class="banner-right">
  <div class="row">
    <div class="col">
      <div style="background-color: lightblue;margin:30px;padding: 10px;">
        <span  class="boldtext">
          Pressure
        </span>
        <span id = "humidity">
          {{details.pressure}}hpa
        </span>
      </div>
    </div>
    <div class="col">
      <div style="background-color: lightblue;margin:30px;padding: 10px;">
        <span  class="boldtext">
          Humidity
        </span>
        <span id = "wind">
          {{details.humidity}}%
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div style="background-color: lightblue;margin:30px;padding: 10px;">
        <span  class="boldtext">
          Sunrise
        </span>
        <span id = "humidity">
          {{details.sunrise}}
        </span>
      </div>
    </div>
    <div class="col">
      <div style="background-color: lightblue;margin:30px;padding: 10px;">
        <span   class="boldtext" >
          Sunset
        </span>
        <span id = "wind">
          {{details.sunset}}
        </span>
      </div>
    </div>
  </div>
</div>





  


  
